@import "../bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,500,700');

@font-face {
  font-family: Geomanist;
  src: url('/fonts/Geomanist-Book.otf') format('otf');
}

// body * {
//   &:hover{
//     box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
//   }
// }

html,
body
{
  background-color: #fff;
  letter-spacing: 0.2px;
  margin: 0;
  font-family: "Montserrat", "Roboto", Arial, sans-serif;
}

@include media-breakpoint-down(sm) {
  html,
  body {
    font-size: 14px;
  }
}
strong {
  font-weight: $font-weight-medium;
}

.v-container {
  min-height: calc(100vh - 58px);
}

.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title,
.card-title {
  font-family: "Montserrat", "Roboto", sans-serif;
}

.shadow {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1) !important;
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1) !important;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1) !important;
}

.secondary-cta-link {
  color: $gray-600;
  & a {
    color: $gray-600;
    text-decoration: underline;
  }
}

.title-index {
  background: $primary;
  color: $white;
  display: inline-block;
  position: absolute;
  margin-right: 2rem;
  padding-left: 0.75rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.title-index ~ * {
  margin-left: 3rem;
}

// .nav {
//   -webkit-box-shadow: 0px 1px 0px 0px rgba($gray-300,1) !important;
//   -moz-box-shadow: 0px 1px 0px 0px rgba($gray-300,1) !important;
//   box-shadow: 0px 1px 0px 0px rgba($gray-300,1) !important;
// }
