@import "../bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,500,700');

@font-face {
  font-family: Geomanist;
  src: url('/fonts/Geomanist-Book.otf') format('otf');
}

body * {
  &:hover{
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
  }
}

html,
body
{
  background-color: #fff;
  letter-spacing: 0.2px;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
}

@include media-breakpoint-down(sm) {
  html,
  body {
    font-size: 14px;
  }
}

.v-container {
  min-height: calc(100vh - 58px);
}

.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title,
.card-title {
  font-family: "Geomanist", "Montserrat", "Roboto", sans-serif;
}

.shadow {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15) !important;
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15) !important;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15) !important;
}