@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,700');

@font-face {
  font-family: Geomanist;
  src: url('/fonts/Geomanist-Book.otf') format('otf');
}

body * {
  &:hover{
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
  }
}

html, body
{
  background-color: #fff;
  color: #000;
  letter-spacing: 0.2px;
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

.v-container {
  min-height: 100vh;
}

.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title {
  font-family: "Geomanist", "Montserrat", "Roboto", sans-serif;
}
